



<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <th:block th:fragment="header-css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Favicons -->
        <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">

        <title th:text="${title ?: 'PFE'}"></title>

        <!-- Bootstrap core CSS -->

        <link href="/webjars/font-awesome/css/all.min.css"
              th:href="@{/webjars/font-awesome/css/all.min.css}"
              rel="stylesheet">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css}">
        <!-- Custom styles for application -->
        <link rel="stylesheet" th:href="@{/css/pfe.css}"/>
        <link rel="stylesheet" th:href="@{/css/style.css}"/>


    </th:block>
</head>

<body>

<!--https://getbootstrap.com/docs/5.3/examples/navbar-static/ -->
<!--<div class="container">-->
<div th:fragment="menu">
    <nav class="navbar navbar-expand-md navbar-dark  bg-dark mb-4" style="margin-bottom:0px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item" >
                        <a class="nav-link" href="#"  th:href="@{/acceuil}" th:classappend="${activeTab == 'acceuil' ? 'active' : null}" aria-current="page" >Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/projets}" th:classappend="${activeTab == 'projets' ? 'active' : null}" >Projets</a>

                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/etudiant/equipes}" th:classappend="${activeTab == 'equipe' ? 'active' : null}" >Equipe</a>
                    </li>
                    <li class="nav-item">
                    <li sec:authorize="isAuthenticated()" >
                        Bienvenue <span  sec:authentication="name"></span>
                        (<span sec:authentication="authorities[0]"></span>)
                    </li>
                    </li>
                    <li sec:authorize="isAuthenticated()" >
                        Bienvenue <span  sec:authentication="name"></span>
                        (<span sec:authentication="authorities[0]"></span>)
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form action="/logout" method="post">
                            <button class="btn btn-primary">Logout</button>
                        </form>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Se connecter</a>
                    </li>
                </ul>
                <!-- <form class="d-flex" role="search">
                     <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline bg-secondary" type="submit"><i class="bi bi-search"></i></button>
                 </form>
                 <form method="POST" style="width:150px;" action="@{/visiteur/Login}">

                     <button class="nav-link btn text-warning mb-2">
                         <div class="sb-nav-link-icon"><i class="bi bi-box-arrow-in-left"></i></div>

                     </button>
                 </form>-->
            </div>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" th:style="'margin-bottom:200px'" >
            <nav class="sb-sidenav accordion sb-sidenav-bg-dark " id="sidenavAccordion">
                <div class="sb-sidenav-menu bg-dark">
                    <div class="nav">
                        <a class="nav-link  text-warning mt-4 mb-4" th:href="@{/admin/projet/projets}" th:classappend="${activeTab == 'projets' ? 'active' : null}">PROJET</a>

                        <a class="nav-link  text-warning mt-4 mb-4" th:href="@{/admin/equipe/equipes}">EQUIPE</a>

                        <a class="nav-link  text-warning  mt-4 mb-4" th:href="@{/admin/etudiant/etudiants}">Etudiant</a>

                        <a class="nav-link  text-warning  mt-4 mb-4" th:href="@{/admin/commentaire/commentaires}">COMMENTAIRE</a>

                        <a class="nav-link text-warning  mt-4 mb-4" th:href="@{/admin/rentree/rentrees}">RENTREE</a>

                        <a class="nav-link text-warning  mt-4 mb-4" th:href="@{/admin/professeur/professeurs}">PROFESSEUR</a>
                        <a class="nav-link  text-warning  mt-4 mb-4" href="">Utilisateurs</a>



                    </div>
                </div>
            </nav>
            <!--</div>

            <div class="container">
            <p th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger"></p>
            <p th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success"></p>
        </div>
    </div>-->
        </div>
        <div layout:fragment="content">

        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#locales").change(function () {
                    var selectedOption = $('#locales').val();
                    if (selectedOption != ''){
                        window.location.replace('international?lang=' + selectedOption);
                    }
                });
            });
        </script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>
    </div>
    <!--</div>-->




</div>

</body>
</html>