<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Projet </title>

  <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" th:href="@{/accueil}">ACCUEIL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" th:href="@{/equipe}">Equipe</a>
    <a class="navbar-brand text-white" th:href="@{/etudiant}">Candidat</a>
    <a class="navbar-brand text-white" th:href="@{/projet}">Projet</a>


      <div class="dropdown mt-3">
        <form class="d-flex" method="post" th:action="@{index}" role="search" style="margin-right: 400px;">
          <input class="form-control " type="search" placeholder="" aria-label="Search" th:value="">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
      </div>


      <div class="dropdown mt-3">
        <a class="nav-link dropdown-toggle text-white" style="margin-left: 100px;" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">LOGIN</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Admin</a></li>
          <li><a class="dropdown-item" href="#">Tuteur</a></li>
          <li><a class="dropdown-item" href="#">Candidat</a></li>

        </ul>
      </div>

    </div>
  </div>
</nav>
<div  layout:fragment="content">
  <!--content c est moi-->

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>



