body {
    min-height: 75rem;
}


.text-center {
    text-align: center;
}

.validation-message {
    border-style: none;
    color: red;
}
/* Styles pour le conteneur de la barre latérale */
#layoutSidenav_nav {
    /*position: fixed;*/
    top:70px;
    left: 0;
    bottom: 0px;
    width: 250px;
    background-color: #343a40;
    padding: 20px;
    z-index: 99;
    padding-left: 0px;
    height: 640px;
    right: 0px;
    width: 170px;
    margin-bottom: 200px;
}

/* Styles pour le contenu de la barre latérale */
.sb-sidenav-menu {
    display: flex;
    flex-direction: column;
}

.nav-link {
    color: #fff; /* Couleur des liens de la barre latérale */
}

