@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar, .footer {
    background-color: #842279 !important;
    padding: 5px 20px;
}

body, html, .container-fluid {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    color: #F8F9FA !important;
    margin-right: 20px;
}

.search-button {
    border: none;
    color: #F8F9FA;
}

.search-button:hover, .search-button:active {
    background-color: #842279 !important;
}

.footer {
    text-align: center;
    color: #F8F9FA;
}

.content {
    width: 100%;
    min-height: 800px;
    background-image: url(/image/ampoule.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 0.8rem;
}

.card-btn {
    background-color: #7749F8;
    border: none;
}

.card-text {
    text-align: left !important;
}

.page-link:hover {
    background-color: #7749F8 !important;
    color: #F8F9FA !important;
}

.page-link.active {
    background-color: #7749F8 !important;
    color: #F8F9FA !important;
    border: none !important;
}

.page-link {
    color: #6c757d !important;
}

.team-details {
    background-color: #ffffff;
}

.team-details h4 {
    font-weight: bold;
}

.team-details-write-comment {
    border: 1px solid #842279 !important;
    box-shadow: 0 4px 8px 0 rgba(10, 58, 100, 0.15);
}

.submit-comment {
    background-color: rgba(132, 34, 121, 0.65) !important;
    border: none !important;
}

.comment {
    color: rgba(0, 0, 0, 0.60); ;
}

.comment-user {
    color: #000000 !important;
    font-size: 16px;
}

.plus {
    box-shadow: 0 30px 60px 0 rgba(2, 80, 124, 0.15);
}