<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <title></title>
</head>
<body>

<div th:replace="~{fragments/header.html :: menu(activeTab='tuteurs')}"></div>


<div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="...">-->
    <div class="card-body">
        <!--<tr th:each = "professeur: ${tuteurs}"> <!--une boucle each pour afficher la liste des projets-->
        <h2 class="card-title" th:text="${professeur.n}"></h2>
        <h3 class="card-title" th:text = "${etudiant.prenom}"></h3>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:text ="${etudiant.email}"></li>
        <li class="list-group" th:text = "${etudiant.rentree.nom}"></li>
        <li class="list-group" th:text = "${etudiant.rentree.date}"></li>
        <li class="list-group" th:text = "${etudiant.equipe.nom}"></li>
        <!-- <li class="list-group-item" th:text = "${etudiant.nom}"></li>-->
        <!--<li class="list-group-item" th:text = "${professeur.nom}"></li>-->
    </ul>
    <div class="card-body">
        <!--<a th:href = "@{}" >Lien Gitlab: </a>-->
        <a th:href = "@{/admin/etudiant/candidats}" class="card-link">Candidats</a>
    </div>
</div>
</body>

<br>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>