<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/front/template.html">
<head>
    <title>Choix de Projet</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h2>Choisissez un Projet</h2>
                <form th:action="@{/etudiant/selectionnerProjet}" method="post">
                    <div class="row">
                        <!-- Utilisez th:object pour créer un scope pour les données de formulaire -->
                        <div th:each="projet, iterStat : ${projets}" class="col-md-4 mb-3">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title" th:text="${projet.nom}"></h5>
                                    <!-- Le bouton radio ne permet qu'une seule sélection -->
                                    <div class="mt-auto">
                                        <input type="radio" th:id="${'projet_' + iterStat.index}" th:value="${projet.id}" name="projetSelectionne" class="form-check-input" />
                                        <label th:for="${'projet_' + iterStat.index}" class="form-check-label">Sélectionner ce projet</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Valider la sélection</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>