<!--
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/front/template.html">
<head>
    <meta charset="UTF-8">
    <title>Détails équipe</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container py-2">
        <div class="team-details w-75 mx-auto my-2 p-5 border rounded">
            <h4 class="team-details-title text-center mb-3">Equipe n°1</h4>
            <div class="team-details-informations">
                <p><strong>Projet: </strong><span th:text="${etudiant.equipe.projet.professeur.nom}"></span></p>
                <p><strong>Etudiant: </strong><span th:text="${equipe.etudiantList}"></span></p>
                <p><strong>Tuteur: </strong><span th:text="${equipe.professeur}"></span></p>
                Zone fichier
            </div>&lt;!&ndash;&ndash;&gt;
            <h4 class="mt-4 mb-2">Commentaires</h4>
            <div class="team-details-write-comment border rounded p-3 d-flex flex-column">
                <p>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#6C757DB8" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </span>
                    Timothée Moulin
                </p>
                <p>
                    I just tried this recipe and it was amazing! The instructions were clear and easy to follow, and the end result was delicious. I will definitely be making this again. Thanks for sharing!
                </p>
                <hr/>
                <button class="submit-comment btn btn-primary my-2 align-self-end">Commenter</button>
            </div>

            &lt;!&ndash; Boucle pour afficher les commentaires dynamiquement &ndash;&gt;
            <div class="team-details-comments">
                <div class="comment mt-5" th:each="comment : ${comments}">
                    <p class="comment-user">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#6C757DB8" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </span>
                        <span th:text="${comment.utilisateur.nom}"></span> &lt;!&ndash; Assurez-vous d'avoir la bonne propriété pour le nom de l'utilisateur dans Commentaire &ndash;&gt;
                    </p>
                    <p th:text="${comment.note}"></p> &lt;!&ndash; Assurez-vous d'avoir la bonne propriété pour la note dans Commentaire &ndash;&gt;
                    <div>
                        <button class="btn btn-light">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 15.8337V4.16702" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.16675 10.0004L10.0001 4.16702L15.8334 10.0004" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="btn btn-light">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 4.16702V15.8337" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.8334 10.0004L10.0001 15.8337L4.16675 10.0004" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <div class="d-inline-block mx-3"> 5 min ago</div>
                    </div>
                </div>
                <div class="my-4 border rounded plus">
                    <button class="btn btn-light text-center d-inline-block w-100">Charger plus</button>
                </div>
            </div>
            &lt;!&ndash; Fin de la boucle &ndash;&gt;
        </div>
    </div>
</div>
</body>
</html>
-->
