
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/front/template.html">
<head>
  <meta charset="UTF-8">

  <title>Choix de projets</title>

</head>
<body>
<h1>Choisissez vos projets</h1>

<ul>
  <li th:each="projet : ${projets}">
    <a th:href="@{'/projets/' +${projet.id}}">
      <span th:text="${projet.nom}"></span>
    </a>
  </li>
</ul>

<form action="/front/projects" method="post">
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
  <input type="hidden" name="projets" th:value="${projets}" />

  <input type="submit" value="Envoyer">
</form>
</body>
</html>
  <nav aria-label="Page navigation example">
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link active" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</body>
</html>
