<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/front/template.html">
<head>
    <meta charset="UTF-8">
    <title>Equipes</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container py-5">
        <div class="row row-cols-md-3 row-cols-1 mb-4">
            <div class="col d-flex justify-content-center my-4" th:each="equipe : ${equipeList}">
                <div class="card p-3" style="width: 19rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title text-center mb-3" th:text="${equipe.nom}"></h5>
                        <p class="card-text" th:text="${equipe.isComplet()?'Complet':'En cours'}"></p>
                        <a th:href="@{'/etudiant/equipe/' + ${equipe.id}}" class="btn btn-primary card-btn mt-3">Voir l'équipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link active" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
</body>
</html>