<!--
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/front/template.html">
<head>
    <meta charset="UTF-8">
    <title>Détails équipe</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container py-2">
        <div class="team-details w-75 mx-auto my-2 p-5 border rounded">
            <h4 class="team-details-title text-center mb-3">Equipe n°1</h4>
            <div class="team-details-informations">
                <p><strong>Projet: </strong><span th:text="${equipe.projet != null ? equipe.projet.nom : 'Nom de projet non disponible'}"></span></p>

                <p><strong>Etudiants: </strong>
                    <span th:each="etudiant : ${etudiant.equipe.etudiantList}" th:text="${etudiant.nom + ', ' + etudiant.prenom}"></span>
                </p>
                <p><strong>Professeur: </strong><span th:text="${etudiant.equipe.projet.professeur.nom}"></span></p>
                Zone fichier
            </div>
            <h4 class="mt-4 mb-2">Commentaires</h4>
            <div class="team-details-write-comment border rounded p-3 d-flex flex-column">
                <p>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#6C757DB8" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </span>
                    <span th:text="${utilisateur.prenom}"></span>
                    <span th:text="${utilisateur.nom}"></span>
                </p>
                <p>
                    &lt;!&ndash; Utilisez ici le commentaire de l'utilisateur &ndash;&gt;
                </p>
                <hr/>
                <button class="submit-comment btn btn-primary my-2 align-self-end">Commenter</button>
            </div>
            <div class="team-details-comments">
                <div class="comment mt-5" th:each="commentaire : ${utilisateur.commentaireList}">
                    <p class="comment-user">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#6C757DB8" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </span>
                        <span th:text="${commentaire.utilisateur.prenom}"></span>
                        <span th:text="${commentaire.utilisateur.nom}"></span>
                    </p>
                    <p th:text="${commentaire.contenu}"></p>
                    <div>
                        &lt;!&ndash; Boutons de gestion des commentaires &ndash;&gt;
                        <button class="btn btn-light">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 15.8337V4.16702" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.16675 10.0004L10.0001 4.16702L15.8334 10.0004" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="btn btn-light">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 4.16702V15.8337" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.8334 10.0004L10.0001 15.8337L4.16675 10.0004" stroke="#777777" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <div class="d-inline-block mx-3"> &lt;!&ndash; Heure du commentaire &ndash;&gt;</div>
                    </div>
                </div>
                <div class="my-4 border rounded plus">
                    <button class="btn btn-light text-center d-inline-block w-100">Charger plus</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/front/template.html">
<head>
    <meta charset="UTF-8">
    <title>Détails équipe</title>
    <!-- Styles CSS intégrés -->
    <style>
        .content-container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            width: auto;
            max-width: 800px; /* Vous pouvez ajuster cette valeur selon vos besoins */
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="content-container" th:if="${equipe != null}">
        <!-- Détails de l'équipe -->
        <h2 th:text="${equipe.nom}">Nom de l'équipe</h2>
        <h3>Projet associé</h3>
        <p th:text="${equipe.projet != null ? equipe.projet.nom : 'Aucun projet associé'}">Nom du projet</p>

        <!-- Liste des étudiants de l'équipe -->
        <h3>Étudiants</h3>
        <ul>
            <li th:each="etudiant : ${equipe.etudiantList}" th:text="${etudiant.prenom + ' ' + etudiant.nom}">Nom de l'étudiant</li>
        </ul>

        <!-- Nom du professeur encadrant le projet -->
        <h3>Professeur</h3>
        <p th:text="${equipe.projet != null && equipe.projet.professeur != null ? equipe.projet.professeur.nom : 'Professeur non assigné'}">Nom du professeur</p>

        <!-- Section pour les fichiers, si applicable -->
        <h3>Fichiers</h3>
        <p>... Insérer des liens vers les fichiers ou une liste de fichiers ici ...</p>

        <!-- Section Commentaires -->
        <h3>Commentaires</h3>
        <div th:each="commentaire : ${equipe.commentaireList}">
            <div>
                <span th:text="${commentaire.utilisateur.prenom + ' ' + commentaire.utilisateur.nom}">Nom de l'utilisateur</span>
                <p th:text="${commentaire.contenu}">Contenu du commentaire</p>
                <span th:text="${#dates.format(commentaire.dateCreation, 'dd/MM/yyyy HH:mm')}">Date du commentaire</span>
            </div>
        </div>

        <!-- Formulaire pour ajouter un commentaire -->
        <form th:action="@{/equipe/addComment}" method="post">
            <input type="hidden" th:value="${equipe.id}" name="equipeId" />
            <textarea name="commentaire"></textarea>
            <button type="submit">Ajouter un commentaire</button>
        </form>
    </div>

    <div th:unless="${equipe != null}">
        <p>Les détails de l'équipe ne sont pas disponibles.</p>
    </div>
</div>

</body>
</html>
