<!DOCTYPE html>
<html lang="fr">

<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <title></title>
</head>
<body>

<!--<div th:replace="~{fragments/header.html :: menu(activeTab='projets')}"></div>-->

<h1>Inscription</h1>
<form th:action="@{/inscription}" method="post" th:object="${utilisateurDTO}">
    <div><label for="nom">Nom</label><input id="nom" name="nom" th:field="${utilisateurDTO.nom}" type="text">
        <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="validation-message"></p>
    </div>
    <div><label for="prenom">prenom</label><input id="prenom" name="prenom" th:field="*{prenom}" type="prenom">
        <p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="validation-message"></p>
    </div>
    <div><label for="email">Email</label><input id="email" name="email" th:field="*{email}" type="email">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></p>
    </div>
    <div><label for="mdp">Mdp</label><input id="mdp" name="mdp1NonEncoder" th:field="*{mdp}" type="password">
        <p th:if="${#fields.hasErrors('mdp')}" th:errors="*{mdp}" class="validation-message"></p>
    </div>
    <div><label for="confirmMdp">Confirmer Mot de passe</label><input id="confirmMdp" name="confirmMdp" th:field="*{confirmMdp}" type="password" @PasswordCorres>
        <p th:if="${#fields.hasErrors('confirmMdp')}" th:errors="*{confirmMdp}" class="validation-message"></p>
    </div>

    <div><label for="nomEquipe">Nom de l'équipe</label>
        <select th:field="${utilisateurDTO.equipeList}" id="nomEquipe" name="nomEquipe">
            <option value="">-- Choisir une équipe --</option>
            <option th:each="equipe : ${equipeList}" th:with="index=index+1" th:if="${!equipe.isComplet()}" th:value="${equipe.id}" th:text="${equipe.nom} + ' (' + ${index} + ')'">

            </option>
        </select>
        <p th:if="${#fields.hasErrors('equipeList')}" th:errors="*{nom}" class="validation-message"></p>
    </div>

    <button>Envoyer</button>
</form>



<br>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>

