<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <title>Login</title>
</head>
<body>




<main class="container min-vh-100">

    <form th:action="@{/login}" method="post" >
        <p th:text="${error}" class="error"></p>
        <div class="mb-3 form-group">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" name="username" type="email" required>
        </div>
        <div class="mb-3 form-group">
            <label for="mdp" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="mdp" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
        <a th:href="@{/inscription}" class="btn btn-link">S'inscrire</a>

        <a th:href="@{/visiteur/resetMotDePasse}" class="btn btn-link"> Mot de passe oublié</a>
    </form>

</main>



<br>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>




