<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/header.html :: header-css}"/>
</head>
<body>

<div th:replace="~{fragments/header.html :: menu(activeTab='rentrees')}"/>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Rentree</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/rentree/rentrees}">Rentrees</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Update une Rentree </h1>
      <div class = "card-body">
        <form th:action="@{/admin/rentree/rentrees}" th:object = "${rentreeDTO}" method="POST" >

          <input th:field="${rentreeDTO.id}" type="hidden" name="">

          <div class ="form-group">
            <label class="form-label" for="branche" > La branche </label>
            <input
                    id="branche"
                    type = "text"
                    name = "branche"
                    th:field = "${rentreeDTO.branche}"
                    class = "form-control"
                    placeholder="Enter la branche"
            >
          </div>

          <div class ="form-group">
            <label class="form-label" for="annee"> l'annee </label>
            <input
                    id="annee"
                    type = "date"
                    name = "annee"
                    th:field = "${rentreeDTO.annee}"
                    class = "form-control"
                    placeholder="Entrer l'annee"
            >
          </div>


          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/footer.html :: footer}"/>
</body>
</html>