<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/header :: header-css}"></div>
  <title></title>
</head>
<body>

<div th:replace="~{fragments/header.html :: menu(activeTab='rentrees')}"></div>
<div th:replace="~{fragments/header.html :: menu(activeTab='projets')}"></div>


<div class="card" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">

    <h2 class="card-title" th:text="${rentree.annee}"></h2>
    <h3 class="card-title" th:text = "${rentree.branche}"></h3>
    <h3 class="card-title" th:text = "${rentree.projet.nom}"></h3>

  </div>
  <ul class="list-group list-group-flush">

    <li class="list-group" th:text = "${test}"></li>
    <li class="list-group" th:text = "test"></li>
    <!-- <li class="list-group-item" th:text = "${candidat.nom}"></li>-->
    <!--<li class="list-group-item" th:text = "${tuteur.nom}"></li>-->
  </ul>
  <div class="card-body">
    <!--<a th:href = "@{}" >Lien Gitlab: </a>-->
    <a th:href = "@{/admin/rentree/rentrees}" class="card-link">RENTREE</a>
  </div>
</div>
</body>

<br>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>